.home-content {
  margin-top: 40px;

  #home-img {
    height: 500px;
    width: 500px;
    background-image: url("../assets/PTV_PassTheNirvana.jpg");
    background-size: cover;
    margin-bottom: 10px;
  }
}
